<% render 'layouts/embedded_topbar' %>
<div class = "jumbotron">
  <h2>Need some help?</h2>
  <div class="well" id="help_well">
    <p>Send us your questions: support@gowensindustries.com</p>
  </div>
</div>
