@import "bootstrap";
@import "bootstrap-datetimepicker";

/*Mixins and variables*/
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Containers*/
.container{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-shopify {
  background-color: #31373d;
  color: #31373d;
  border-radius: 0 !important;
}

.navbar-shopify .navbar-nav > li > a {
  color: #95a7b7;
}

.navbar-shopify .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #272c30;
}

.navbar-shopify .navbar-brand {
  color: #f2f4f5;
}

/*Home Index*/
#home_index_well {
  background-color: #FDFDFD;
}

#collect_count {
  margin-bottom: 5px;
}

#live_count {
  border-top: 1px solid #666;
  padding-top: 8px;
  margin-bottom: 5px;
}

#live_last_run {
  font-size: 14px;
}

#new_collection_button {
  margin: 10px;
}

#new_live_collection_button {
  margin: 10px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/*Flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}


/*Footer*/
#main_footer {
  border-top: 1px solid #666;
}
